<!-- Why Choose Us Section Start -->
<div class="why-choose-us">
    <div class="container">
        <div class="row section-row align-items-center">
            <div class="col-lg-8 col-md-12">
                <!-- Section Title Start -->
                <div class="section-title">
                    <h3 class="wow fadeInUp">porque nós esconher</h3>
                    <h2 class="text-anime-style-3">Nossos valores</h2>
                </div>
                <!-- Section Title End -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <!-- Why Choose Item Start -->
                <div class="why-choose-us-item wow fadeInUp" data-wow-delay="0.25s">
                    <div class="icon-box">
                        <img src="/img/icon-whyus-1.svg" alt="">
                    </div>
                    <h3>Inovação</h3>
                    <p>Constantemente buscamos novas formas de aprimorar e modernizar o setor de transporte de cargas,
                        proporcionando soluções eficientes aos nossos clientes.</p>
                </div>
                <!-- Why Choose Item End -->
            </div>

            <div class="col-lg-4 col-md-6">
                <!-- Why Choose Item Start -->
                <div class="why-choose-us-item wow fadeInUp" data-wow-delay="0.5s">
                    <div class="icon-box">
                        <img src="/img/icon-whyus-2.svg" alt="">
                    </div>
                    <h3>Confiabilidade</h3>
                    <p>Nos comprometemos em oferecer serviços de alta qualidade, sempre prezando pela segurança e pela
                        satisfação de nossos clientes.</p>
                </div>
                <!-- Why Choose Item End -->
            </div>

            <div class="col-lg-4">
                <!-- Why Choose Item Start -->
                <div class="why-choose-us-item wow fadeInUp" data-wow-delay="0.75s">
                    <div class="icon-box">
                        <img src="/img/icon-whyus-3.svg" alt="">
                    </div>
                    <h3>Conexão</h3>
                    <p>Nossa plataforma é projetada para conectar de forma simples e eficaz motoristas autônomos e
                        clientes, tornando o processo de contratação de fretes ainda mais fluido e conveniente.</p>
                </div>
                <!-- Why Choose Item End -->
            </div>

            <div class="col-md-12">
                <!-- Why Us Explore Item Start -->
                <div class="why-us-explore-item">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="why-us-section-title">
                                <!-- Section Title Start -->
                                <div class="section-title">
                                    <h2 class="text-anime-style-3">Você quer explorar nosso trabalho extraordinário?
                                    </h2>
                                </div>
                                <!-- Section Title End -->

                                <!-- Explore Item Icon Start -->
                                <div class="explore-item-icon">
                                    <img src="/img/icon-whyus-4.svg" alt="">
                                </div>
                                <!-- Explore Item Icon End -->
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <!-- Explore Item Content Start -->
                            <div class="explore-item-content wow fadeInUp" data-wow-delay="0.25s">
                                <p>Na Frete Conecta, conectamos você aos melhores motoristas para atender às suas necessidades. 
                                    Seja para mudanças, transporte de grandes volumes ou entregas rápidas, estamos aqui para simplificar 
                                    e tornar sua experiência mais eficiente e segura. Explore nossos serviços e veja como podemos ajudar!</p>
                            </div>
                            <!-- Explore Item Content End -->
                        </div>

                        <div class="col-lg-6">
                            <!-- Explore Item Content Start -->
                            <div class="explore-item-tags wow fadeInUp" data-wow-delay="0.25s">
                                <ul>
                                    <li><a href="https://www.instagram.com/freteconecta/" target="_blank"
                                            class="btn-default">youtube</a></li>
                                    <li><a href="https://www.youtube.com/@startupfreteconecta" target="_blank"
                                            class="btn-default">instagram</a></li>
                                    <li><a href="/contact" class="btn-default">contato</a></li>
                                </ul>
                            </div>
                            <!-- Explore Item Content End -->
                        </div>
                    </div>
                </div>
                <!-- Why Us Explore Item End -->
            </div>
        </div>
    </div>
</div>
<!-- Why Choose us Section End -->