<!-- Footer Start -->
<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Mega Footer Start -->
        <div class="mega-footer">
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <!-- Footer About Start -->
              <div class="footer-about">
                <figure>
                  <img src="/img/footer-logo.svg" alt="">
                </figure>
                <p>Facilitando serviços de frete de forma simples e conectada!</p>
                <ul>
                  <li><a href="#">contato@freteconecta.com</a></li>
                  <li><a href="#">(96) 98403-5353</a></li>
                </ul>
              </div>
              <!-- Footer About End -->
            </div>

            <div class="col-lg-2 col-md-4">
              <!-- Footer Links Start -->
              <div class="footer-links">
                <h2>páginas</h2>
                <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/about">Sobre Nós</a></li>
                  <li><a href="/services">Serviços</a></li>
                  <!-- <li><a href="#">Blog</a></li> -->
                  <li><a href="/contact">Contato</a></li>
                </ul>
              </div>
              <!-- Footer Links End -->
            </div>

            <div class="col-lg-2 col-md-4">
              <!-- Footer Links Start -->
              <div class="footer-links">
                <h2>Redes Sociais</h2>
                <ul>
                  <li><a href="https://www.facebook.com/profile.php?id=61560342055041&mibextid=ZbWKwL" target="_blank">facebook</a></li>
                  <li><a href="https://www.instagram.com/freteconecta/" target="_blank">instagram</a></li>
                  <li><a href="https://www.youtube.com/@startupfreteconecta" target="_blank">youtube</a></li>
                </ul>
              </div>
              <!-- Footer Links End -->
            </div>

            <div class="col-lg-2 col-md-4">
              <!-- Footer Links Start -->
              <div class="footer-links">
                <h2>serviços</h2>
                <ul>
                  <li><a href="/services/house-delivery">mudanças residências</a></li>
                  <li><a href="/driver">seja motorista</a></li>
                </ul>
              </div>
              <!-- Footer Links End -->
            </div>
          </div>
        </div>
        <!-- Mega Footer End -->

        <!-- Copyright Footer Start -->
        <div class="footer-copyright">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <!-- Footer Copyright Content Start -->
              <div class="footer-copyright-text">
                <p>Copyright © <%= new Date().getFullYear() %> Frete Conecta. Todos os direitos reservados.</p>
              </div>
              <!-- Footer Copyright Content End -->
            </div>
            <div class="col-lg-6">
              <!-- Footer Policy Links Start -->
              <div class="footer-policy-links">
                <ul>
                  <li><a href="#">política de privacidade</a></li>
                  <li><a href="#">termos de serviço</a></li>
                  <li class="highlighted"><a href="#top">subir</a></li>
                </ul>
              </div>
              <!-- Footer Policy Links End -->
            </div>
          </div>
        </div>
        <!-- Copyright Footer End -->
      </div>
    </div>
  </div>
</footer>
<!-- Footer End -->