<div class="row">
    <div class="col-lg-6 col-md-6">
        <!-- Service Item Start -->
        <div class="service-item wow fadeInUp" data-wow-delay="0.25s">
            <div class="service-content">
                <div class="service-content-title">
                    <h2>Mudanças Residências</h2>
                    <a href="/services/house-delivery"><img src="/img/arrow.svg" alt=""></a>
                </div>
                <p>Realize mudanças residenciais de forma simples e eficiente com os melhores.</p>
            </div>
            <div class="service-image">
                <figure class="image-anime">
                    <img src="/img/service-img-1.jpg" alt="">
                </figure>
            </div>
        </div>
        <!-- Service Item End -->
    </div>

    <div class="col-lg-6 col-md-6">
        <!-- Service Item Start -->
        <div class="service-item wow fadeInUp" data-wow-delay="0.5s">
            <div class="service-content">
                <div class="service-content-title">
                    <h2>Pequenos Fretes</h2>
                    <a href="/services/house-delivery"><img src="/img/arrow.svg" alt=""></a>
                </div>
                <p>Envie Pequenos fretes, como geladeira, fogão, sofá, etc. E acompanhe com precisão a localização do motorista parceiros e o status do pedido</p>
            </div>
            <div class="service-image">
                <figure class="image-anime">
                    <img src="/img/service-img-2.jpg" alt="">
                </figure>
            </div>
        </div>
        <!-- Service Item End -->
    </div>

</div>