<!-- Overview Comapny Section Start -->
<div class="overview-company">
    <div class="container">
        <div class="row section-row align-items-center">
            <div class="col-lg-12">
                <!-- Section Title Start -->
                <div class="section-title">
                    <h3 class="wow fadeInUp">nossa competência</h3>
                    <h2 class="text-anime-style-3">Status que importam</h2>
                </div>
                <!-- Section Title End -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <!-- Counter Box Start -->
                <div class="counter-box">
                    <h3><em>#</em><span>1</span> No ramo</h3>
                    <p>Empresa no Amapá</p>
                </div>
                <!-- Counter Box End -->
            </div>

            <div class="col-lg-3 col-md-6">
                <!-- Counter Box Start -->
                <div class="counter-box">
                    <h3><span class="counter">100</span><em>+</em></h3>
                    <p>Clientes pagantes</p>
                </div>
                <!-- Counter Box End -->
            </div>

            <div class="col-lg-3 col-md-6">
                <!-- Counter Box Start -->
                <div class="counter-box">
                    <h3><span class="counter">50</span><em>+</em> Fretes</h3>
                    <p>Realizados</p>
                </div>
                <!-- Counter Box End -->
            </div>

            <div class="col-lg-3 col-md-6">
                <!-- Counter Box Start -->
                <div class="counter-box">
                    <h3><em>R$</em><span class="counter">50</span><em>+</em> M</h3>
                    <p>De faturamento</p>
                </div>
                <!-- Counter Box End -->
            </div>
        </div>
    </div>
</div>
<!-- Overview Comapny Section End -->