<!-- clients testimonials Section Start -->
<div class="clients-testimonials about-testimonials">
    <div class="container">
        <div class="row section-row align-items-center">
            <div class="col-lg-8 col-md-12">
                <!-- Section Title Start -->
                <div class="section-title">
                    <h3 class="wow fadeInUp">depoimentos de clientes</h3>
                    <h2 class="text-anime-style-3">Nossos clientes nos amam.</h2>
                </div>
                <!-- Section Title End -->
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <!-- Testimonial Slider Start -->
                <div class="testimonial-slider">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <!-- Testimonial Slide Start -->
                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <div class="testimonial-rating">
                                        <img src="/img/icon-star.svg" alt="">
                                    </div>

                                    <div class="testimonial-content">
                                        <p>A Frete Conecta revolucionou a forma como realizamos mudanças, me conectando
                                            a ótimos motoristas em tempo recorde.</p>
                                    </div>

                                    <div class="testimonial-body">
                                        <figure class="image-anime">
                                            <img src="/img/author-1.jpg" alt="">
                                        </figure>
                                        <div class="testimonial-author-title">
                                            <h2>Carla Silva</h2>
                                            <!-- <p>Acme Solutions</p> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Testimonial Slide End -->

                            <!-- Testimonial Slide Start -->
                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <div class="testimonial-rating">
                                        <img src="/img/icon-star.svg" alt="">
                                    </div>

                                    <div class="testimonial-content">
                                        <p>A Frete Conecta transportou os materiais da AMAPATEC com responsabilidade e agilidade.</p>
                                    </div>

                                    <div class="testimonial-body">
                                        <figure class="image-anime">
                                            <img src="/img/author-2.jpeg" alt="">
                                        </figure>
                                        <div class="testimonial-author-title">
                                            <h2>Lindomar Ferreira</h2>
                                            <!-- <p>Acme Solutions</p> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Testimonial Slide End -->

                            <!-- Testimonial Slide Start -->
                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <div class="testimonial-rating">
                                        <img src="/img/icon-star.svg" alt="">
                                    </div>

                                    <div class="testimonial-content">
                                        <p>O Frete Conecta transformou a maneira como realizamos mudanças, pois me proporcionou uma conexão ágil, eficiente e segura com motoristas altamente capacitados em tempo recorde.</p>
                                    </div>

                                    <div class="testimonial-body">
                                        <figure class="image-anime">
                                            <img src="/img/author-3.png" alt="">
                                        </figure>
                                        <div class="testimonial-author-title">
                                            <h2>Luene Brito</h2>
                                            <!-- <p>Acme Solutions</p> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Testimonial Slide End -->

                            <!-- Testimonial Slide Start -->
                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <div class="testimonial-rating">
                                        <img src="/img/icon-star.svg" alt="">
                                    </div>

                                    <div class="testimonial-content">
                                        <p>Super recomendado a Frete Conecta, é a forma mais prática de você contratar, rápido, fácil e acessível.</p>
                                    </div>

                                    <div class="testimonial-body">
                                        <figure class="image-anime">
                                            <img src="/img/author-4.jpeg" alt="">
                                        </figure>
                                        <div class="testimonial-author-title">
                                            <h2>Luciana Mota</h2>
                                            <!-- <p>Acme Solutions</p> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Testimonial Slide End -->

                            <!-- Testimonial Slide Start -->
                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <div class="testimonial-rating">
                                        <img src="/img/icon-star.svg" alt="">
                                    </div>

                                    <div class="testimonial-content">
                                        <p>Frete Conecta executou com excelência a missão na qual se propôs a fazer. Me conectou com o motorista parceiro disponível, consegui fazer minha mudança em tempo hábil e com segurança.</p>
                                    </div>

                                    <div class="testimonial-body">
                                        <figure class="image-anime">
                                            <img src="/img/author-5.jpeg" alt="">
                                        </figure>
                                        <div class="testimonial-author-title">
                                            <h2>Raul Quaresma</h2>
                                            <!-- <p>Acme Solutions</p> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Testimonial Slide End -->

                            <!-- Testimonial Slide Start -->
                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <div class="testimonial-rating">
                                        <img src="/img/icon-star.svg" alt="">
                                    </div>

                                    <div class="testimonial-content">
                                        <p>A Frete Conecta fez um ótimo  trabalho  transportando minha mudança.</p>
                                    </div>

                                    <div class="testimonial-body">
                                        <figure class="image-anime">
                                            <img src="/img/author-6.jpeg" alt="">
                                        </figure>
                                        <div class="testimonial-author-title">
                                            <h2>Maria Leopoldina</h2>
                                            <!-- <p>Acme Solutions</p> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Testimonial Slide End -->

                            <!-- Testimonial Slide Start -->
                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <div class="testimonial-rating">
                                        <img src="/img/icon-star.svg" alt="">
                                    </div>

                                    <div class="testimonial-content">
                                        <p>A Frete Conecta está de parabéns, com preço justo, agilidade para conectar com os motoristas de transporte e com muita qualidade no serviço ofertado.</p>
                                    </div>

                                    <div class="testimonial-body">
                                        <figure class="image-anime">
                                            <img src="/img/author-7.png" alt="">
                                        </figure>
                                        <div class="testimonial-author-title">
                                            <h2>Max Góes</h2>
                                            <!-- <p>Acme Solutions</p> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Testimonial Slide End -->
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <!-- Testimonial Slider End -->
            </div>
        </div>
    </div>
</div>
<!-- clients testimonials Section End -->