<!-- Login Section Start -->
<div class="our-work">
  <div class="container">
    <div class="row section-row justify-content-center align-items-center">
      <div class="col-lg-7 col-md-7">
        <!-- Section Title Start -->
        <div class="section-title text-center">
          <h3 class="wow fadeInUp">Olá novamente</h3>
          <h2 class="text-anime-style-3">Faça login</h2>
        </div>
        <!-- Section Title End -->
      </div>
    </div>

    <!-- Login Form Section Start -->
    <div class="contact-us">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-6">
            <div class="contact-form-box wow fadeInUp" data-wow-delay="0.5s">
              <% if (error_msg && error_msg.length > 0) { %>
                <div class="alert alert-danger alert-dismissible fade show mb-4" role="alert">
                  <%= error_msg %>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              <% } %>
              <!-- Contact Form Start -->
              <div class="contact-form">
                <form action="/login" method="POST" data-toggle="validator">
                  <div class="row">

                    <div class="form-group col-md-12 mb-4">
                      <input type="email" name="email" class="form-control" id="email" placeholder="email" required>
                      <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group col-md-12 mb-4">
                      <input type="password" name="password" class="form-control" id="password" placeholder="senha" required>
                      <div class="help-block with-errors"></div>
                    </div>

                    <div class="col-md-12">
                      <button type="submit" class="btn-default">entrar</button>
                      <div id="msgSubmit" class="h3 text-left hidden"></div>
                    </div>
                  </div>
                </form>
              </div>
              <!-- Login Form End -->
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- Login Form Section End -->
  </div>
  <!-- Login Section End -->
</div>