<!-- Chosse Register Section Start -->
<div class="our-services">
  <div class="container">
    <div class="row section-row align-items-center">
      <div class="col-lg-7 col-md-7">
        <!-- Section Title Start -->
        <div class="section-title">
          <h3 class="wow fadeInUp">Seja bem vindo</h3>
          <h2 class="text-anime-style-3">Como você irá usar nossos serviços?</h2>
        </div>
        <!-- Section Title End -->
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6">
        <!-- Service Item Start -->
        <div class="service-item wow fadeInUp" data-wow-delay="0.25s">
          <div class="service-content">
            <div class="service-content-title">
              <h2>Preciso de Frete</h2>
              <a href="/signup"><img src="/img/arrow.svg" alt=""></a>
            </div>
            <p>Agende fretes para mudanças ou transporte de cargas com quem entende do assunto.</p>
          </div>
          <div class="service-image">
            <figure class="image-anime">
              <img src="/img/register/client-register.jpg" alt="">
            </figure>
          </div>
        </div>
        <!-- Service Item End -->
      </div>

      <div class="col-lg-6 col-md-6">
        <!-- Service Item Start -->
        <div class="service-item wow fadeInUp" data-wow-delay="0.5s">
          <div class="service-content">
            <div class="service-content-title">
              <h2>Eu faço o frete</h2>
              <a href="/driver"><img src="/img/arrow.svg" alt=""></a>
            </div>
            <p>Ofereça seus serviços de transporte e conecte-se com quem precisa de agilidade.</p>
          </div>
          <div class="service-image">
            <figure class="image-anime">
              <img src="/img/register/frete-register.jpg" alt="">
            </figure>
          </div>
        </div>
        <!-- Service Item End -->
      </div>

    </div>

  </div>
</div>
<!-- Chosse Register Section End -->